!body, html {direction:rtl;}
body * *, html * * {direction:rtl;}
#header-search .small > div.price input {padding-right:20px;}
!#location-picker {padding-right:36px;padding-left:12px;}
#location-picker:after {right:14px;left:auto;}
.simple-select .text > span {margin-right:6px;}


body .user_public_profile #right-block {float:right;margin-left:3%;margin-right:0;}
body #public-items h1 {text-align:right;}
body .empty {text-align:right;}
body #user_data li .left {float:right;padding:0 0 0 10px;text-align:right;}
body #user_data li {text-align:right;}
body #top-search .btn i {margin:0 0 0 4px;}
body #contact-wrap .input-box input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="submit"]), body #contact-wrap .input-box select {float:right;padding-left:8px;padding-right:28px;}
body #contact-wrap label:not(.status) {text-align:right;}
body #contact-wrap button {float:right;}
body .content_only #images {overflow:hidden;}
body #contact_form .phone-block {float:right;}
body #search-sort .sort-it .sort-content a span {float:right;}
body #search-sort .sort-it .sort-content a.current:after {float:right;margin-left:0;margin-right:5px;}
body #sidebar-search #amount-min, body #sidebar-search #amount-max, body #sidebar-search #amount-del {float:right;}
body #sidebar-search .price h4 {float:right;margin:0 0 0 8px;}
body #sidebar-search #search-button i {margin:0 0 0 6px;}
body #search-sort .counter {direction:ltr;}
body #sidebar-search .checkboxes label {float:right;}
body #sidebar-search #location-picker:after {left:auto;right:10px;}
body #sidebar-search .simple-select .text {padding-left:6px;padding-right:1px;}
body #sidebar-search #location-picker input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="submit"]) {padding-left:6px;padding-right:28px;}
body .simple-select .text > span {margin-left:6px;margin-right:0;}
body .simple-select .text i:not(.help) {right:auto;float:left;}
body #sidebar-search .simple-select .text span:before {float:right;}
body #sidebar-search .input-box input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="submit"]) {padding-right:28px;padding-left:6px;}
body .home-cat .cat-tab .middle a > span > span.name {float:right;}
body #location-picker .shower .option.city:after {right:auto;left:16px;}
body #header-search .large input.term {padding-left:12px;padding-right:36px;}
body .white a.title, body .white .price {text-align:right;}
body .white .fi_make_favorite {right:auto;left:7px;}
body .white .category-link span .fa {margin-right:0;margin-left:3px;}
body h2.home {text-align:right;}
body .white .orange-but {right:auto;left:8px;}
body #images .flag {right:0;left:auto;border-radius:0;border-top-left-radius:3px;border-bottom-left-radius:3px;}
body #contact_form .phone-block {margin:0 0 0 5px;}
body .attachment .att-box .status {float:right;}
body #footer .location .region-span {padding-left:5px;padding-right:0;}
body .home-cat .cat-tab .middle a > span {padding:10px 62px 10px 10px;}
body .home-cat .cat-tab .middle a > span > span.icon {left:auto;right:0;border-right:none;border-left:1px solid #d6d6d6;border-radius:0;border-top-right-radius:3px;border-bottom-right-radius:3px;}
body .home-cat .cat-tab .head h2 {margin-left:0;margin-right:14px;}
body .home-cat .cat-tab .head .add {float:left;}
body .home-cat .cat-tab .head span {padding-left:0;padding-right:14px;margin:0 12px 0 0;}
body .home-cat .cat-tab .head span:before {right:0;left:auto;}
body #footer .link-span {float:right;margin:0 0 0 25px;}
body #footer .about > span {float:right;padding:0 0 0 12px;margin:0 0 0 12px;border:none;border-left:1px solid #eee;}
body #footer .about > span:last-child {border-left:none;}
body #footer .share .header {float:right;margin:0 0 0 10px;}
body #footer .share > span {float:right;}
body #partner .lead {float:right;}
body .sidepager_nav.prev {left:1px;right:auto;}
body .sidepager_nav.next {left:36px;right:auto;}
body .side-pager {left:0;right:auto;}
body .side-pager li a:before {right:-18px;left:auto;border-color:#eee #eee transparent transparent;}
body .side-pager {padding-left:0;padding-right:14px;}
body .input-box i {right:2px;}
body .input-box input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="submit"]), body select {padding:10px 28px 10px 8px;}
body #custom_fields .meta > .ins > label, body #custom_fields .meta > .ins > span {float:right;padding-right:0;padding-left:8px;text-align:right;}
body #custom_fields .meta .ins {text-align:left;}
body .attachment {float:right;}
body #contact_form button i {margin:0 0 0 3px;}
body .p-total {float:left;margin:0 2px;}
body .p-from {float:right;margin:0 2px;}
body #contact_form .phone-block i {float:right;margin:0 0 0 8px;}
body #contact_form .phone-block span {float:right;}
body #contact_form .phone-show {float:right;margin-right:2px;}
body .add_item .row.category label {text-align:right;}
body #flat-cat .option {float:right;}
body .req {margin-left:0;margin-right:1%;}
body .flat-wrap .single > span:not(.back) {float:right;}
body .flat-wrap .single .parent-icon {float:right;margin:-15px -15px -15px 10px;}
body .add_item .title-desc-box .title-max-char, body .add_item .title-desc-box .desc-max-char {left:2px;right:auto;}
body .add_item .simple-select .text {padding-left:12px;padding-right:6px;}
body .input-box-check label:before {right:0;left:auto;}
body .input-box-check label:after {right:1px;left:auto;}
body .input-box-check label {padding:0 30px 0 0!important;text-align:right;}
body #error_list li:before, body #comment_error_list li:before {float:right;}
body .add_item .tabberlive ul.tabbernav {left:0;right:auto;}
body #location-picker .shower .option.region:after {left:15px;right:auto;}
body #more-info.comments .btn i {float:right;margin-left:5px;margin-right:0;}
body #flat-cat .category-box {float:right;}
body .add_item label {text-align:right;}
body .add_item ul.tabbernav li a {border-left:none;border-right:1px solid #eee;}
body .add_item .tabberlive ul.tabbernav li:first-child a {border-right:none;}
body .simple-select .option.selected:after {left:7px;right:0;}
body #location-picker .term {padding-left:8px;padding-right:25px;}
body #post-hooks #plugin-hook .meta_list .meta input[type="checkbox"] {float:right;margin-left:5px;margin-right:0;}
body #post-hooks #plugin-hook .meta_list .meta label {float:right;}
body #post-hooks .tabberlive ul.tabbernav {left:0;right:auto;}
body div.auto select {float:right;}
body #post-hooks .row input[type="checkbox"] {float:right;margin-left:5px;margin-right:0;}
body .user_forms form label span {float:right;}
body .user_account #sidebar li a {float:right;}
body .user_account #sidebar li a i {float:right;margin:0 0 0 6px;}
body .user_account .user-menu-header i {float:right;margin:0 0 0 6px;}
body .user_account #sidebar li .count {float:left;}
body .user_account #sidebar li a {float:right;}
body .user_account #sidebar li a i, .user_account #sidebar .hook-options li a:before {float:right;margin:0 0 0 6px;}
body .user_account #sidebar {float:right;}
body .user_account #main {float:left;padding:0 25px 0 0;}
body .user_account #sidebar li.active:after {left:-13px;right:auto;}
body .highcharts-legend {direction:ltr;}
body .user_account .modify_profile form label {float:right;}
body .user_account .modify_profile form input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="submit"]) {float:right;}
body .user_account .modify_profile form .input-box input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="submit"]), body .user_account .modify_profile form .input-box select {float:right;padding-left:8px;padding-right:28px;}
body .tabberlive {float:right;}
body .tabberlive ul.tabbernav li {float:right;}
body .user_account .modify_profile .row.user-buttons {padding-right:25%;padding-left:0;}
body .user_account .modify_profile .btn-primary {float:right;}
body .user_account #location-picker .term {padding-right:28px;padding-left:8px;}
body .user_account #location-picker {float:right;}
body .user_account #location-picker:after {right:2px;left:auto;}
body .user_account .modify_profile .row .current_email {float:right;}
body .user_account .modify_profile h2, body .user_account .modify_profile h3 {padding-right:54px;}
body .user_account .modify_profile h2 i, body .user_account .modify_profile h3 i {right:18px;left:auto;}
body .user_account #pict-update {float:right;}
body .user_account #pict-update-secondary {float:right;margin-left:0;margin-right:30px;}

body #images, body #images * {direction: ltr;}

@media screen and (max-width: 767px) {
  body .header-slide a:not(.clear-search) .fa {float:right;margin:0 0 0 6px;}
  body #header-bar .logo-text {padding-right:10px;}
  body .header-slide .lang a {float:right;margin:4px 0 4px 8px;}
  body .header-slide .lang a .fa {float:right;margin:0 0 0 5px;}
  body .header-slide a.publish i.fa {margin-right:0;}
  body #location-picker {padding:0;}
  body .header-slide .sort {left:15px;right:auto;}
  body .header-search-mobile .input-box input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="submit"]) {padding-right:28px;}
  body .white .price { padding:0 10px 0 0; text-align: right;}
  body .white .price span {float:right;}
  body .white .fi_make_favorite {right:auto;left:7px;}
  body .white a.title {text-align:right;}
  body #item-basics .location, body #item-basics .published, body #item-basics .price, body #item-basics .condition, body #item-basics .transaction {float:right;}
  body #item-basics .condition, body #item-basics .transaction {margin:0 0 6px 5px;}
  body #custom_fields h3 {float:right;}
  body #more-info.comments .btn i {margin:0 0 0 6px;}
  body #swap a.active:after {margin-right:5px;margin-left:0;}
}